.page{
	width: 100%;
	height: 100%;
	margin-left: 0px;
	position: absolute;
	overflow: hidden;
	background-color: #090909;
	background-position: top;
	background-repeat: no-repeat;
}

h3{
	text-align: center;
	color: #2D2F30;
	font-size: 30px;
	margin-bottom: -10px;
}

.ifView {
	width: 100%;
	height: 20cm;
	position: absolute;
	bottom: 0px;
	border: 0px;
	box-shadow: 0px -2px 4px 2px rgba(105, 107, 109, 0.6);
}

.txt-expl {
	font-size: 18px;
	padding: 20px;
}

.title {
	text-align: center;
	color: #0f0f0f;
	font-family: 'Spinnaker', sans-serif;
	font-size: 100px;
	font-weight: bolder;
	letter-spacing: 10px;
	margin-top: 20px;
	position: relative;
	text-shadow: 0 0 15px yellow;
	margin-bottom: 0;
	animation: pulse 2s infinite;
}
.title-2, .title-2 a {
	text-align: center;
	color: white;
	font-family: 'Spinnaker', sans-serif;
	font-weight: bolder;
	letter-spacing: 5px;
	margin-top: 20px;
	position: relative;
	text-shadow: 0 0 15px yellow;
	margin-top: 0;
}
.title-3 {
	text-align: center;
	color: white;
	font-family: 'Spinnaker', sans-serif;
	font-weight: bolder;
	letter-spacing: 5px;
	margin-top: 20px;
	position: relative;
	text-shadow: 0 0 15px yellow;
	margin-top: 0;
	font-size: 50px;
}
.title-4 {
	text-align: center;
	color: white;
	font-family: 'Spinnaker', sans-serif;
	font-weight: bolder;
	letter-spacing: 5px;
	margin-top: 20px;
	position: relative;
	text-shadow: 0 0 15px yellow;
	margin-top: 0;
	font-size: 30px;
}

#leftSide {
	background-color: rgba(45, 47, 48, 0.6);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 40%;
	height: 100%;
	box-shadow: 0px 0 10px 0 yellow inset;
}

#middleSide {
	background-color: #FFD700;
	position: fixed;
	left: 40%;
	top: 0px;
	width: 20%;
	height: 100%;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}
#middleSide::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: #FFD700;
}

#middleSide::-webkit-scrollbar
{
	width: 12px;
	background-color: #FFD700;
}

#middleSide::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
	background-color: rgba(0, 0, 0, .75);
}

#rightSide {
	background-color: rgba(45, 47, 48, 0.6);
	position: fixed;
	right: 0px;
	top: 0px;
	width: 40%;
	height: 100%;
	box-shadow: 0px 0 10px 0 yellow inset;
}

#leftBar {
	z-index: 1px;
	position: fixed;
	background-color: white;
	height: 100px;
	width: 10px;
	box-shadow: 0px 1px 2px 1px #2D2F30;
	margin-left: 40%;
}

#rightBar {
	z-index: 1px;
	position: fixed;
	background-color: white;
	height: 100px;
	width: 10px;
	box-shadow: 0px 1px 2px 1px #2D2F30;
	margin-left: -10px;
}

.formulaire {
	text-align: center;
}

input, select {
	margin-top: 50px;
	background-color: #FFD700;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: gray;
	font-size: 20px;
	width: 85%;
  	transition: all 0.5s ease;
}
input:focus, select:focus {
	box-shadow: 0px 1px 0px 0px #2D2F30;
	border-color: #2D2F30;
  	transition: all 0.5s ease;
	outline: none;
}
input::-webkit-input-placeholder {
    color: #2D2F30;
}
input:-moz-placeholder {
    color: #2D2F30;
}
input::-moz-placeholder {
    color: #2D2F30;
}
input:-ms-input-placeholder {
    color: #2D2F30;
}

.submitButton {
	background-color: #2D2F30;
	box-shadow: 0px 1px 2px 0px gray;
	color: #FFD700;
	opacity: 0.8;
	width: 100px;
  	transition: all 0.2s ease;
}

.submitButton:hover {
  	transition: all 0.2s ease;
	opacity: 1;
}

#leftCanvas {
	position: relative;
	width: 100%;
	height: 100%;
}

#rightCanvas {
	position: relative;
	width: 100%;
	height: 100%;
}

.perigo {
	position: relative;
	/*margin-left: 5%;*/
	margin-top: 60px;
	width: 90%;
	max-width: 200px;
	border-radius: 50%;
  	transition: all 1s ease;
}
.gameover {
	position: relative;
	/*margin-left: 5%;*/
	margin-top: 60px;
	width: 80%;
	max-width: 150px;
  	transition: all 1s ease;
	transform: none;
}

.score {
	box-shadow: 0px 1px 2px 1px #2D2F30;
	color: #2D2F30;
	font-size: 50px;
	position: relative;
	margin-top: 35px;
	width: 50%;
	border-radius: 5px;
	left: 25%;
	text-align: center;
}

#username {
	color: #2D2F30;
	font-size: 30px;
	position: relative;
}

@-webkit-keyframes pulse {
	25% {
		text-shadow: 0 0 3px silver;
	}
	50% {
		text-shadow: 0 0 5px white;
		letter-spacing: 10px;
	}
	100% {
		text-shadow: 0 0 10px yellow;
		letter-spacing: 20px;
	}
}
@keyframes pulse {
	25% {
		text-shadow: 0 0 3px silver;
	}
  50% {
  		text-shadow: 0 0 5px white;
		letter-spacing: 10px;
  }
  100% {
  		text-shadow: 0 0 10px yellow;
		letter-spacing: 20px;
  }
}
